{% extends 'base.html.twig' %}

{% block title 'Profil' %}

{% block stylesheets %}
    {#{{ parent() }}
    {{ encore_entry_link_tags('profil_form') }}#}
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-mt-4">
        <legend>Veuillez compléter votre profil</legend>
        {{ include('profile/_form.html.twig') }}
        </div>
    </div>
    </div>

{% endblock %}
